{% extends "base.html" %}
{% load static %}

{% block title %} Account {% endblock %}

{% block css %}
<style>
  .link {
    width: 100%;
    color: black;
    text-decoration: none;
  }

  .btns {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    width: 100%;
    gap: 10px;
  }

  .question {
    margin-bottom: 10px;
  }

  .question:hover {
    cursor: pointer;
    background-color: lightgrey;
  }

  .questions-wrapper {
    width: 100%;
  }

  @media only screen and (max-width: 800px) {
    .btns {
      justify-content: space-between;
    }
  }
</style>
{% endblock %}

{% block content %}
<div class="wrapper">
  <h3>{{ user.username }}</h3>

  {% if messages %}
    {% for message in messages %}
      <p style="text-align: center; color: {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}red{% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}green{% endif %}">
        {{ message }}
      </p>
    {% endfor %}
  {% endif %}

  <div class="btns">
    <a class="icon-link" href="/account/change_password">
      <button class="btn secondary-bg">Change Password</button>
    </a>
    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button class="btn tertiary-bg" type="submit">Logout</button>
    </form>
  </div>
  <div style="display: block; width: 100%;">
    <p style="text-align: left; font-size: 18px;">Your Questions</p>
  </div>
  {% for question in questions %}
    <a class="link" href="/questions/{{ question.id }}/results">
      <div class="box question">
        <p style="word-wrap: break-word;">{{ question.title }}</p> 
      </div>
    </a>
  {% endfor %}
<div>
{% endblock %}

{% block js %}
<script>
  const btn = document.getElementById("changePasswordBtn");
</script>
{% endblock %}
