{% extends "base.html" %}
{% load static %}

{% block title %} Account {% endblock %}

{% block css %}
<style>
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-left: 20%;
    padding-right: 20%;
  }

  .link {
    width: 100%;
    color: black;
    text-decoration: none;
  }

  .question {
    margin-bottom: 10px;
  }

  .question:hover {
    cursor: pointer;
    background-color: lightgrey;
  }

  .questions-wrapper {
    width: 100%;
  }

  @media only screen and (max-width: 800px) {
    .wrapper {
      padding: 20px;
    }
  }
</style>
{% endblock %}

{% block content %}
<div class="wrapper">
  <h2>{{ user.username }}</h2>

  {% if messages %}
    {% for message in messages %}
      <p style="text-align: center; color: {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}red{% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}green{% endif %}">
        {{ message }}
      </p>
    {% endfor %}
  {% endif %}

  <a class="icon-link" href="/account/change_password">
    <button class="btn secondary-bg">Change Password</button>
  </a>
  <form method="post" action="{% url 'logout' %}">
      {% csrf_token %}
      <button class="btn tertiary-bg" type="submit">Logout</button>
  </form>
  <div class="box questions-wrapper">
    <p>Your Questions</p>
    {% for question in questions %}
      <a class="link" href="/questions/{{ question.id }}/results">
        <div class="box question">
          <p style="word-wrap: break-word;">{{ question.title }}</p> 
        </div>
      </a>
    {% endfor %}
  </div>
<div>
{% endblock %}

{% block js %}
<script>
  const btn = document.getElementById("changePasswordBtn");
</script>
{% endblock %}
