{% extends "base.html" %}
{% load static %}

{% block title %} Login {% endblock %}

{% block css %}
<style>
  h1 {
    text-align: center;
  }

  .wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
  }

  .labeled-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
  }

  .divider {
    border-right: 1pt solid lightgrey;
  }

  @media only screen and (max-width: 800px) {
    .wrapper {
      flex-direction: column;
    }

    .divider {
      border-right: transparent;
      border-bottom: 1pt solid lightgrey;
    }
  }
</style>
{% endblock %}

{% block content %}
  <h2 style="text-align: center;">Welcome!</h2>
  <div class="wrapper">
    <form method="POST" action="/login/" class="divider">
      {% csrf_token %}
      <p>Login</p>
      {% for field in login_form %}
        <div class="labeled-field">
          {{ field.label }}
          {{ field }}
        </div>
      {% endfor %}
      <button class="btn primary-bg" type="submit">Log In</button>
    </form>
    <form method="POST" action="/register/">
      {% csrf_token %}
      <p>Register</p>
      {% for field in register_form %}
        <div class="labeled-field">
          {{ field.label }}
          {{ field }}
        </div>
      {% endfor %}
      <button class="btn primary-bg" type="submit">Submit</button>
    </form>
  </div>
  {% if messages %}
    {% for message in messages %}
      <p class="error-msg" style="color: red; text-align: center;">
        {{ message }}
      </p>
    {% endfor %}
  {% endif %}
{% endblock %}
