{% extends "base.html" %}
{% load static %}

{% block title %} Login {% endblock %}

{% block css %}
<style>
  .wrapper {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-start;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
  }

  .divider {
    border-right: 1pt solid lightgrey;
  }

  @media only screen and (max-width: 800px) {
    .wrapper {
      flex-direction: column;
      padding: 0;
      align-items: center;
      justify-content: flex-start;
    }

    form {
      padding: 0;
    }

    .divider {
      border-right: transparent;
      border-bottom: 1pt solid lightgrey;
      padding-bottom: 30px;
    }
  }
</style>
{% endblock %}

{% block content %}
  <h3 style="text-align: center;">Welcome!</h3>
  <div class="wrapper">
    <form method="POST" action="/login/" class="divider">
      {% csrf_token %}
      <p style="font-size: 18px;">Login</p>
      {% for field in login_form %}
        <div class="labeled-field">
          {{ field.label }}
          {{ field }}
        </div>
      {% endfor %}
      <button class="btn primary-bg" type="submit">Log In</button>
    </form>
    <form method="POST" action="/register/">
      {% csrf_token %}
      <p style="font-size: 18px;">Register</p>
      {% for field in register_form %}
        <div class="labeled-field">
          {{ field.label }}
          {{ field }}
        </div>
      {% endfor %}
      <button class="btn primary-bg" type="submit">Submit</button>
    </form>
  </div>
  {% if messages %}
    {% for message in messages %}
      <p class="error-msg" style="color: var(--tertiary); text-align: center;">
        {{ message }}
      </p>
    {% endfor %}
  {% endif %}
{% endblock %}
