{% extends "base.html" %}

{% block title %} Change Password {% endblock %}

{% block css %}
<style>
  .wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .labeled-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
  }
</style>
{% endblock %}

{% block content %}
<h2 style="text-align: center;">Change Your Password</h2>
<div class="wrapper">
  <form method="POST" class="divider">
    {% csrf_token %}
    {% for field in form %}
      <div class="labeled-field">
        {{ field.label }}
        {{ field }}
      </div>
    {% endfor %}
    <button class="btn tertiary-bg center-btn" type="submit">
      Submit
    </button>
  </form>
</div>
{% endblock %}
