:root {
  --primary: #6863D4;
  --secondary: #008c6e;
  --tertiary: #c24c00;
}

body {
  /* font-family: "dotgothic16", poppins, helvetica, arial, sans-serif; */
  font-family: poppins, helvetica, arial, sans-serif;
  margin: 0;
  width: 100vw;
}

input, textarea, button {
  font-family: inherit;
}

/* input::-webkit-input-placeholder { */
/*   font-family: "dotgothic16", poppins, helvetica, arial, sans-serif; */
/* } */

/* input:-ms-input-placeholder { */
/*   font-family: "dotgothic16", poppins, helvetica, arial, sans-serif; */
/* } */

/* input:-moz-placeholder { */
/*   font-family: "dotgothic16", poppins, helvetica, arial, sans-serif; */
/* } */

/* input::-moz-placeholder { */
/*   font-family: "dotgothic16", poppins, helvetica, arial, sans-serif; */
/* } */

.primary-bg {
  background-color: var(--primary);
}

.secondary-bg {
  background-color: var(--secondary);
}

.tertiary-bg {
  background-color: var(--tertiary);
}

.primary-font {
  color: var(--primary);
}

.secondary-font {
  color: var(--secondary);
}

.tertiary-font {
  color: var(--tertiary);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: var(--primary);
  color: white;
}

.icon-link {
  text-decoration: none;
}

.btn {
  color: white;
  padding: 10px;
  border: transparent;
  border-radius: 5px;
  font-weight: bold;
}

.btn:hover {
  cursor: pointer;
}

.btn:disabled {
  background-color: lightgrey;
  color: grey;
}

.btn:disabled:hover {
  cursor: default;
}

.center-btn {
  /* width: 100%; */
  display: block;
  margin: 0 auto;
}

.box {
  padding: 10px;
  border: 1pt solid lightgrey;
  border-radius: 5px;
}

