{% extends "base.html" %}

{% block title %} About {% endblock %}

{% block content %}
<div class="wrapper">
  <h3>About</h3>
  <p>
    Decision Helper is a private and community-driven platform for asking and answering
    questions online.
  </p>
  <p>
    Have you ever posted a question on Reddit or another social media site and received
    with hundreds of comments that don't answer the question or offer unsolicited 
    opinions? Are you tired of everything on the internet trying to collect your personal 
    information, bombard you with ads, or becoming politicized? Decision Helper was designed
    to be free of these problems.
  </p>
  <p>
    On Decision Helper, every question must be posted with a pre-defined set of answers for 
    voters to choose from. There is no direct communication or free text comments, which also
    means that the platform is free from strangers arguing and harassing each other online.
  </p>
  <p>
    The only thing needed to sign up for an account is a username and password, no emails or 
    personal information required.
  </p>
  <p>
    With its simple and efficient design, Decision Helper is also built to be as non-addictive
    and distraction free as possible. This app won't entice users to doom scroll endlessly or 
    send out notifications to capture their attention. Our philosophy is that users should be   
    in complete control of their own information and attention.
  </p>
</div>
{% endblock %}
