{% extends "base.html" %}

{% block title %} Contact {% endblock %}

{% block css %}
<style>
  form, textarea, input {
    width: 100%;
  }
</style>
{% endblock %}

{% block content %}
<div class="wrapper">
  <h3>Contact</h3>
  <p>
    Submit the form below to send an email to the app developer. Feel free to send 
    feature requests, feedback, or anything else about your experience using the app. If you'd like
    a response, include an email address. Otherwise, you will remain anonymous.
    I'd love to hear from you!
  </p>
  <form method="POST">
    {% csrf_token %}
    {{ form }}
    {% if not request.user.is_authenticated %}
      <p style="text-align: center; color: var(--tertiary);">Please log in to send a message</p>
    {% endif %}
    <button type="submit" class="btn primary-bg center-btn" style="margin-top: 20px;"
            {% if not request.user.is_authenticated %}disabled{% endif %}>
      Submit
    </button>
  </form>
</div>
{% endblock %}
