{% extends "base.html" %}

{% block title %} Decision Helper Home {% endblock %}

{% block css %}
<style>
  .link {
    width: 100%;
    color: black;
    text-decoration: none;
    margin-bottom: 10px;
  }

  .question-wrapper:hover {
    cursor: pointer;
    background-color: lightgrey;
  }

  form, input {
    width: 100%;
  }

  span {
    font-size: 16px;
  }
</style>
{% endblock %}

{% block content %}
<div class="wrapper">
  <form method="POST" action="/search">
    {% csrf_token %}
    {{ search_form.search.label }}
    <div style="display: flex; justify-content: space-around; gap: 10px;">
      {{ search_form.search }}
      <button type="submit" class="btn primary-bg center-btn">
        Search
      </button>
    </div>
  </form>
  {% if request.user.is_authenticated %}
  <div style="display: flex; justify-content: space-around; width: 100%; margin-top: 10px;">
    <a href="/ask">
      <button class="btn primary-bg">Ask A Question</button>
    </a>
    <a href="/following">
      <button class="btn secondary-bg">Followed Questions</button>
    </a>
  </div>
  {% endif %}
  <h3>Latest Questions</h3>
  {% for question in page_obj %}
  <a class="link"
     href="{% if 'following' in request.path %}/questions/{{ question.id }}/results{% else %}/questions/{{ question.id }}{% endif %}">
    <div class="box question-wrapper">
      <p style="word-wrap: break-word;">{{ question.title }}</p> 
    </div>
  </a>
  {% endfor %}
  <div class="pagination">
    <span class="step-links">
      {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; First</a>
        <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      <span class="current">
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
      </span>

      {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
      {% endif %}
    </span>
  </div>
</div>
{% endblock %}
