{% extends "base.html" %}
{% load static %}

{% block title %} QuietQuestions Home {% endblock %}

{% block css %}
<style>
  .link {
    width: 100%;
    color: black;
    text-decoration: none;
    margin-bottom: 10px;
  }

  .question-wrapper:hover {
    cursor: pointer;
    background-color: lightgrey;
  }

  form, input {
    width: 100%;
  }

  span {
    font-size: 16px;
  }

  .categories {
    margin-top: 10px;
    width: calc(100% - 20px);
    border: 1pt solid lightgrey;
    border-radius: 5px;
    padding: 10px;
  }

  .categories:hover {
    cursor: pointer;
  }

  #categories-toggle {
    display: none;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 10px;
  }

  #arrow {
    overflow: hidden;
    transition-duration: 0.5s;
    transition-property: transform;
  }

  .rotated {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
  }
</style>
{% endblock %}

{% block content %}
<div class="wrapper">
  <form method="POST" action="/search">
    {% csrf_token %}
    {{ search_form.search.label }}
    <div style="display: flex; justify-content: space-around; gap: 10px;">
      {{ search_form.search }}
      <button type="submit" class="btn primary-bg center-btn">
        Search
      </button>
    </div>
  </form>
  
  <div id="categories" class="categories">
    <div style="font-size: 16px; padding: 0; margin: 0; display: flex; align-items: center; gap: 10px;">
      Filter By Category <img id="arrow" src="{% static 'icons/arrow.svg' %}" />
    </div>
    <div id="categories-toggle">
      {% for cat in categories %}
      <a style="color: black; text-decoration: none;" href="/category/{{ cat.name }}">
        <div class="category-tag">{{ cat.name }}</div>
      </a>
      {% endfor %}
    </div>
  </div>

  {% if request.user.is_authenticated %}
  <div style="display: flex; justify-content: space-around; width: 100%; margin-top: 10px;">
    <a href="/ask">
      <button class="btn primary-bg">Ask A Question</button>
    </a>
    <a href="/following">
      <button class="btn secondary-bg">Followed Questions</button>
    </a>
  </div>
  {% endif %}

  <h3>Latest Questions</h3>
  {% for question in page_obj %}
  <a class="link"
     href="{% if 'following' in request.path %}/questions/{{ question.id }}/results{% else %}/questions/{{ question.id }}{% endif %}">
    <div class="box question-wrapper">
      <p style="word-wrap: break-word;">{{ question.title }}</p> 
    </div>
  </a>
  {% endfor %}
  <div class="pagination">
    <span class="step-links">
      {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; First</a>
        <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      <span class="current">
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
      </span>

      {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
      {% endif %}
    </span>
  </div>
</div>
<script>
  const categories = document.getElementById('categories');
  const categoriesToggle = document.getElementById('categories-toggle');
  const arrow = document.getElementById('arrow');

  categories.addEventListener('click', () => {
    if (categoriesToggle.style.display === 'none') {
      categoriesToggle.style.display = 'flex';
      arrow.classList.add('rotated');
    } else {
      categoriesToggle.style.display = 'none';
      arrow.classList.remove('rotated');
    }
  });
</script>
{% endblock %}
