{% extends "base.html" %}

{% block title %} Ask A Question {% endblock %}

{% block css %}
<style>
  form, textarea, input {
    width: 100%;
  }

  .category {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .category > input {
    width: fit-content;
  }
</style>
{% endblock %}

{% block content %}
<div class="wrapper">
  <h3>Ask A Question</h3>
  <form method="POST">
    {% csrf_token %}
    {{ form.title.label }}
    {{ form.title }}

    {{ form.body.label }}
    {{ form.body }}
    <div class="box">
      <h3 style="text-align: center;">
        What Are Your Options?
      </h3>

      {{ form.choice1.label }}
      {{ form.choice1 }}

      {{ form.choice2.label }}
      {{ form.choice2 }}

      {{ form.choice3.label }}
      {{ form.choice3 }}

      {{ form.choice4.label }}
      {{ form.choice4 }}
    </div>

    <div style="margin-top: 20px;">
      <h3 style="text-align: center;">Select Categories</h3>
      <div style="display: flex; justify-content: space-around;">
        <div>
          {% for cat in form.categories|slice:"4" %}
            <div class="category">{{ cat.tag }} {{ cat.choice_label }}</div>
          {% endfor %}
        </div>
        <div>
          {% for cat in form.categories|slice:"4:" %}
            <div class="category">{{ cat.tag }} {{ cat.choice_label }}</div>
          {% endfor %}
        </div>
      </div>
    </div>

    <button type="submit" class="btn primary-bg center-btn" style="margin-top: 40px; width: 150px;">
      Post
    </button>
  </form>
</div>
{% endblock %}
