{% extends "base.html" %}

{% block title %} Question {% endblock %}

{% block css %}
<style>
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20%;
    padding-right: 20%;
  }

  form {
    width: 100%
  }

  p {
    max-width: 100%;
    word-wrap: break-word;
  }

  .choice {
    margin-bottom: 10px;
  }

  .choice:hover {
    cursor: pointer;
    background-color: lightgrey;
  }

  @media only screen and (max-width: 800px) {
    .wrapper {
      padding: 10px;
    }
  }
</style>
{% endblock %}


{% block content %}
<div class="wrapper">
  <p>{{ question.text }}</p>
  <form method="POST">
    {% csrf_token %}
    {% for radio in form.choice %}
      <p class="box choice">{{ radio }}</p>
    {% endfor %}
    {% if not request.user.is_authenticated %}
      <p style="text-align: center; color: red;">Please log in to vote</p>
    {% endif %}
    <button type="submit" class="btn primary-bg center-btn" style="margin-top: 20px;"
            {% if not request.user.is_authenticated %}disabled{% endif %}>
      Vote
    </button>
  </form>
</div>
{% endblock %}
